@import "../../app.scss";

.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }

        @include tablet{
            margin-left: 15vw;
            margin-right: 5vw;
        }

        span{
            font-weight: bold;
            font-size: 18px;

            @include mobile{
                display: none;
            }
        }

        .social{
            display: flex;
            gap: 20px;

            img{
                width: auto;
                height: 24px;
            }
        }
    }
}