@import "../../app.scss";

.tech{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .icon{
        width: 15vw;
        height: 15vh;

        @include mobile{
            width: 20vw;
            height: 10vh;
        }

        @include tablet{
            width: 24vw;
            height: 12vh;
        }
    }
}